apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configmap
data:
  nginx.conf: |
    server {
        listen 80;
        location /nginx-blackout {
            root /usr/share/nginx/html;
            index blackout.html;
        }

        location / {
            if ($time_iso8601 ~ ^2020-01-05T00:[0-5][0-9]:[0-9][0-9]+03:00) {
                return 302 /nginx-blackout;
            }
            root /usr/share/nginx/html;
            index index.html;
        }
    }

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-server
  template:
    metadata:
      labels:
        app: nginx-server
    spec:
      containers:
      - name: nginx
        image: smirnovigor077/nginx-hw1
        volumeMounts:
          - name: nginx-config
            mountPath: /etc/nginx/conf.d/
      volumes:
          - name: nginx-config
            configMap:
              name: nginx-configmap

---

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx-server
  ports:
    - port: 80
      nodePort: 30036

---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: localhst
    http:
      paths:
      - path: /
        backend:
          serviceName: nginx-service
          servicePort: 80
